@use 'functions' as *;

$primary-color: #3498db;
$secondary-color: #e74c3c;
$font-main: 'Gilroy', sans-serif;

$breakpoints: (
    'xs': 480px,
    'sm': 576px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    'xxl': 1420px,
    'xxxl': 1800px
) !default;

$html-font-size:            10px;
$font-size-base:            1.6rem !default;
