<footer class="footer">
    <div class="container-fluid">
        <a href="#" class="footer__logo">
            <img src="img/footer_logo.png" class="img-cover" width="566" height="180" alt="">
        </a>

        <div class="footer__main">
            <div class="footer__section footer__section--contacts">
                <div class="footer__title">Наши контакты</div>
                <div class="footer__text">
                    Расскажите подробнее о&nbsp;вашем запросе и&nbsp;проконсультируйтесь с&nbsp;нами по&nbsp;телефону.
                </div>
                <div class="footer__contacts">
                    <div class="footer__address">
                        Минск, ул. Тимирязева, д. 126, пом. 85
                    </div>
                    <ul class="footer__phones">
                        <li>
                            <a href="tel:+375293909339" class="footer__phone">+375 (29) 390-93-39</a>
                        </li>
                        <li>
                            <a href="tel:+375293909339" class="footer__phone">+375 (29) 390-93-39</a>
                        </li>
                    </ul>
                    <div class="footer__messengers">
                        <a href="#" class="btn-messenger">
                            <svg class="img-cover" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <use href="img/sprites/sprite.svg#icon_tg" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                        <a href="#" class="btn-messenger">
                            <svg class="img-cover" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <use href="img/sprites/sprite.svg#icon_viber" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                        <a href="#" class="btn-messenger">
                            <svg class="img-cover" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <use href="img/sprites/sprite.svg#icon_whatsapp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="footer__email">
                        <a href="mailto:info@tangallery.by">info@tangallery.by</a>
                    </div>
                    <div class="footer__docs">
                        Реквизиты (<a href="#">Скачать</a>)
                    </div>
                </div>
                <div class=""></div>
            </div><!-- .footer__section -->
            <div class="footer__section footer__section--form">
                <div class="footer__title">Форма обратной связи</div>
                <div class="footer__form">
                    <form>
                        <div class="footer__field">
                            <label class="form-label" for="footer_name">Привет, меня зовут *</label>
                            <input type="text" class="field" name="name" id="footer_name" placeholder="Александра">
                        </div>
                        <div class="footer__field">
                            <label class="form-label" for="footer_phone">Свяжитесь со мной по телефону*</label>
                            <input type="text" class="field" name="phone" id="footer_phone" placeholder="+ XXX (XX) XXX XX XX">
                        </div>
                        <div class="footer__field">
                            <label class="form-label" for="footer_email">Или по электронной почте</label>
                            <input type="text" class="field" name="email" id="footer_email" placeholder="info@likeit.pro">
                        </div>
                        <div class="footer__field">
                            <label class="checkbox checkbox--white">
                                <input type="checkbox" class="checkbox__input" checked>
                                <i class="checkbox__item"></i>
                                <span class="checkbox__label">Согласен на обработку <a href="#">персональныx данных*</a></span>
                            </label>
                        </div>
                        <div class="footer__button">
                            <button type="button" class="btn btn-outline-secondary">
                                <span>Отправить заявку</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div><!-- .footer__section -->
            <div class="footer__section footer__section--info">
                <div class="footer__title">Реквизиты</div>
                <div class="footer__info">
                    <p>
                        &copy;&nbsp;2023 Общество с&nbsp;ограниченной ответственностью<br>
                        &laquo;ПАРИТЕТ КОНЦЕПТ&raquo;
                    </p>
                    <p>
                        УНП 692226522 Свидетельство о&nbsp;государственной регистрации &#8470;&nbsp;692226522
                        выдано Минским райисполкомом 6&nbsp;июля 2023&nbsp;г.&nbsp;220062
                        г. Минск улица Тимирязева д.&nbsp;126 помещение 85.
                    </p>
                    <p>В&nbsp;торговом реестре Республики Беларусь с&nbsp;5&nbsp;сентября 2024&nbsp;г.</p>
                </div>
                <nav class="footer__menu">
                    <div class="footer__item">
                        <a href="#" class="footer__link">Карта сайта</a>
                    </div>
                    <div class="footer__item">
                        <a href="#" class="footer__link">Политика использования файлов cookie</a>
                    </div>
                    <div class="footer__item">
                        <a href="#" class="footer__link">Политика обработки п. д.</a>
                    </div>
                </nav>
                <a href="#" class="footer__dev">
                    <img src="img/dev_logo.svg" width="220" height="22" class="img-cover" loading="lazy" alt="">
                </a>
            </div><!-- .footer__section -->
        </div>
    </div>
</footer><!-- .footer -->
