<header class="header">
    <div class="container-fluid">
        <div class="header__wrapper">
            <div class="header__group header__group--left">
                <a href="#" class="header__logo">
                    <img src="img/logo.png" width="574" height="76" class="img-cover" alt="">
                </a>
                <nav class="header__nav">
                    <div class="header__item">
                        <a href="#" class="header__link">О бренде</a>
                    </div>
                    <div class="header__item">
                        <a href="#" class="header__link">Домашний уход</a>
                    </div>
                    <div class="header__item">
                        <a href="#" class="header__link">Профессиональный уход</a>
                    </div>
                    <div class="header__item">
                        <a href="#" class="header__link">Аксессуары для дома</a>
                    </div>
                    <div class="header__item">
                        <a href="#" class="header__link">Обучение</a>
                    </div>
                </nav>
            </div>
            <div class="header__group header__group--right">
                <a href="#" class="header__link">Контакты</a>
                <a href="tel:+375293309393" class="header__phone">
                    <i>
                        <svg class="img-cover" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                            <use href="img/sprites/sprite.svg#phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </i>
                    <span>+375 (29) 330-93-93</span>
                </a>
            </div>
            <button type="button" class="header__burger" data-nav-toggle></button>
        </div>
    </div>
</header>
