@use '../utils' as *;

.breadcrumb {
    margin: 0;
    padding: rem(12) 0;
    color: black;
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(16);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: rem(8);
    column-gap: rem(8);
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        column-gap: rem(8);

        &:not(:last-child) {

            &::after {
                content: '|';
                display: block;
            }
        }
    }

    &__link {
        color: #949494;
        text-decoration: none;
        transition: var(--transition-time);

        &:hover {
            color: black;
            text-decoration: none;
            transition: var(--transition-time);
        }
    }

    @include media-up('md') {
        min-height: rem(60);
    }
}
