{% extends "src/templates/layouts/default.njk" %}
{% set title = "Страницы" %}
{% set subTitle = "Список страниц проекта" %}

{% block content %}

    <ul>
        <li>
            <a href="home.html">Главная</a>
        </li>
        <li>
            <a href="product.html">Карточка товара</a>
        </li>
        <li>
            <a href="catalog.html">Каталог</a>
        </li>
        <li>
            <a href="about.html">О бренде</a>
        </li>
        <li>
            <a href="sale_soon.html">Скоро в продаже</a>
        </li>
        <li>
            <a href="sale_soon_2.html">Скоро в продаже 2</a>
        </li>
        <li>
            <a href="seminars.html">Семинары</a>
        </li>
    </ul>

{% endblock %}

