{% extends "src/templates/layouts/default.njk" %}
{% set title = "Скоро в продаже" %}

{% block main %}
    <div class="hero">
        <picture>
            <source media="(min-width: 768px)" srcset="img/sale_image.jpg"/>
            <img src="img/sale_image_sm.jpg" width="786" height="1034" class="img-cover" loading="lazy" alt="">
        </picture>
    </div>
    <div class="section">
        <div class="container-md">
            <div class="content">
                <h2>Infusion Spray</h2>
                <p><strong>Protective and Illuminating Spray for Medium to Fine Hair</strong></p>
                <p>
                    A lightweight spray that protects, tames and adds shine to medium to fine hair.<br>
                    Its fast-absorbing formula creates a protective layer over the hair shaft, shielding it from heat damage and external aggressors.
                </p>

                <h5>KEY FEATURES</h5>
                <ul>
                    <li>Protection against damage caused by hairdryers, straighteners and other heat sources</li>
                    <li>Super-hydrating action to control frizz</li>
                    <li>Intense, natural shine</li>
                    <li>Soft, manageable and silky hair</li>
                </ul>
                <h5>RESULTS</h5>
                <p>Stronger, more supple and visibly shinier hair – the lightweight texture of Infusion Spray is perfect for everyday use.</p>
                <h5>HOW TO USE</h5>
                <p>
                    Spray onto the lengths and ends of wet hair before drying to protect it from heat.<br>
                    When applied to dry hair, it enhances shine and perfects the finish.
                </p>
            </div>
        </div>
    </div>
    <div class="hero">
       <div class="swiper" data-hero>
           <div class="swiper-wrapper">
               <div class="swiper-slide">
                   <div class="hero__media">
                       <picture>
                           <source media="(min-width: 768px)" srcset="img/sale_image_02_xl.jpg"/>
                           <img src="img/sale_image_02.jpg" width="960" height="1200" class="img-cover" loading="lazy" alt="">
                       </picture>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="hero__media">
                       <picture>
                           <source media="(min-width: 768px)" srcset="img/sale_image_03_xl.jpg"/>
                           <img src="img/sale_image_03.jpg" width="960" height="1200" class="img-cover" loading="lazy" alt="">
                       </picture>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="section">
        <div class="container-md">
            <div class="content">
                <h2>Marvel Oil</h2>
                <p><strong>Silicone-free Dry Shine Spray for medium to thick hair</strong></p>
                <p>A lightweight dry spray that nourishes, protects and adds shine to medium to thick hair. Its silicone-free formula improves manageability and creates a protective barrier against heat, salt, chlorine and environmental factors.</p>

                <h5>KEY FEATURES:</h5>
                <ul>
                    <li>Protection against heat damage up to 220°C</li>
                    <li>Nourishing and moisturising action</li>
                    <li>Improves hair softness and shine</li>
                    <li>Light, natural finish without weighing the hair down</li>
                </ul>

                <h5>RESULTS</h5>
                <p>Hair that is more manageable, nourished and silky, with a natural shine and a light finish that doesn’t weigh it down.</p>
                <h5>HOW TO USE</h5>
                <p>Spray a small amount onto the lengths and ends before drying to make styling easier and protect the hair from heat. When applied to dry hair, on the ends or wherever the hair shaft allows, it enhances the finish, adding shine and softness.</p>
            </div>
        </div>
    </div>
    <div class="hero">
        <picture>
            <source media="(min-width: 768px)" srcset="img/sale_image.jpg"/>
            <img src="img/sale_image_sm.jpg" width="786" height="1034" class="img-cover" loading="lazy" alt="">
        </picture>
    </div>
    <div class="section">
        <div class="container-md">
            <div class="content">
                <h2>Infusion Spray</h2>
                <p><strong>Protective and Illuminating Spray for Medium to Fine Hair</strong></p>
                <p>
                    A lightweight spray that protects, tames and adds shine to medium to fine hair.<br>
                    Its fast-absorbing formula creates a protective layer over the hair shaft, shielding it from heat damage and external aggressors.
                </p>

                <h5>KEY FEATURES</h5>
                <ul>
                    <li>Protection against damage caused by hairdryers, straighteners and other heat sources</li>
                    <li>Super-hydrating action to control frizz</li>
                    <li>Intense, natural shine</li>
                    <li>Soft, manageable and silky hair</li>
                </ul>
                <h5>RESULTS</h5>
                <p>Stronger, more supple and visibly shinier hair – the lightweight texture of Infusion Spray is perfect for everyday use.</p>
                <h5>HOW TO USE</h5>
                <p>
                    Spray onto the lengths and ends of wet hair before drying to protect it from heat.<br>
                    When applied to dry hair, it enhances shine and perfects the finish.
                </p>
            </div>
        </div>
    </div>
{% endblock %}






